body {
    display: flex;
    flex-direction: column;
}
/* Header css */
.header{
    padding: 0px 200px;
    font-family: Roboto;
    background-color: #1F2937;
    color: white;
    padding-bottom: 50px;
    flex-grow: 1;
}
.call-to-action{
    background-color: #3882F6;
    width: 100px;
    color: white;
    font-size: 14px;
    border: none;
    margin-top: -5px;
    border-radius: 1em;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.titel{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.description{
    margin-top: -5px;
    font-size: 18px;
    color: #E5E7EB;
}
.top{
    display: flex;
    align-items: center;
}
.top ul{
    margin-left: auto;
    gap: 16px;
    display: flex;
    list-style: none;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.left-side{
 display: flex;
 flex-direction: column;
 width: 400px;
}

.right-side img{
    width: 400px;
    height: auto;
}
/* Information css */

.information{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.image {
    width: 130px;
}
.image p {
    margin-top: -1px;
    text-align: center;
}
.images img{
    width: 130px;
    height: 130px;
    border-radius: 15%;
}

/* Quote css */
.quote-sector{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 50px 50px;
    text-align: left;
}

.quote-text{
    width: 616px;
    display: flex;
    flex-direction: column;
}
.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
.author{
    margin-top: -100px;
    align-self: flex-end;
    margin-right: 5px;
    font-weight: 300;
    font-size: 30px;
}

/* Call to action css */

.signup{
    flex-shrink: 0;
    display:flex;
    background-color: #3882F6;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 100px 300px;
    padding: 30px 20px;
}

.text p{
    margin: 0;
}
.text-title{
    font-weight: 700;
}
.text-description{
    color: #E5E7EB;
}
.button{
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
}

.button button {
    border: 2px solid white;
    margin-left: 150px;
}