body {
    display: flex;
    flex-direction: column;
}
/* Header css */
.header{
    padding: 0px 100px;
    font-family: Roboto;
    background-color: #1F2937;
    color: white;
    padding-bottom: 50px;
}
.call-to-acion{
    background-color: #3882F6;
    width: 100px;
    color: white;
    font-size: 14px;
    border: none;
    margin-top: -5px;
    border-radius: 1em;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.titel{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.description{
    margin-top: -5px;
    font-size: 18px;
    color: #E5E7EB;
}
.top{
    display: flex;
}
.top ul{
    margin-left: auto;
    gap: 16px;
    display: flex;
    list-style: none;
}

.bottom{
    display: flex;
}

.left-side{
 display: flex;
 flex-direction: column;
}

.right-side img{
    width: 300px;
    height: auto;
}
/* Information css */

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.image {
    width: 130px;
}
.image p {
    margin-top: -1px;
    text-align: center;
}
.images img{
    width: 130px;
    height: 130px;
    border-radius: 15%;
}